body {
	background-color: rgb(245,245,245);
	font-family: arial;
	font-size: 1em;
} 

h2 {
	text-align: center;
}

table {
	width: 70%;
	box-shadow: rgba(0,0,0,0.2) 10px 10px;
	margin-left: auto;
	margin-right: auto;
}

table, th, td {
	padding: 5px;
	text-align: left;
}

#domparagraph {
	/*to be filled out with something awesome in the near future*/
}

#boldbig {
	font-weight: bold;
	font-size: 1.2em;
}

#elementstable {
	/*to be filled out with something awesome in the near future*/
}

#selectorstable {
	/*to be filled out with something awesome in the near future*/
}